# Virtual Environment
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# VS Code / IDE settings
.vscode/
.idea/

# OS artifacts
.DS_Store
Thumbs.db
